$color-blanco: #FFFCFC;
$color-naranja: #FC9918;
$color-negro: #2f2e41;
$color-cafe: #403F3F;

.wrapperinicio {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;

  @media (max-width: 768px) {
    display: flex;
    flex-direction: column;
  }

  .wrapperleft {
    h1 {
      font-size: 2.5rem;

      @media (max-width: 768px) {
        text-align: center;
        font-size: 3rem;
        padding: 5px;
        margin-bottom: 20px;
        color: #2f2e41;
      }

      & span {
        color: $color-naranja;
      }
    }

    p {
      position: relative;
      font-size: 1.1rem;
      font-weight: 400;
      color: $color-negro;

      @media (max-width: 768px) {
        padding: 5px;
        margin-left: 25px;
      }

      &::after {
        content: '';
        position: absolute;
        left: -15px;
        top: 0;
        width: 5px;
        height: 75px;
        background-color: $color-naranja;
        border-radius: 3px;
      }
    }

    a {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 115px;
      margin-top: 10px;
      margin-left: 10px;
      background: $color-naranja;
      padding: 10px;
      color: $color-blanco;
      border-radius: 5px;
      pointer-events: auto;
      transition: 0.5s ease-in-out;
      cursor: pointer;

      &:hover {
        color: $color-blanco;
        background-color: $color-cafe;
      }
    }
  }
}